/* #1f2937 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: #105e82;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1140px;
  margin: 0 AUTO;
}

nav {
  background-color: #1f2937;
  position: sticky;
  top: 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

nav .container {
  margin: 0 auto;
  padding: 16px;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLeft img {
  height: 50px;
  width: 50px;
  border: 2px solid coral;
  border-radius: 50%;
}

.navList {
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: center;
}

.navList a {
  position: relative;
  color: white;
  padding: 4px;
}

.navList a::before {
  content: "";
  position: absolute;
  background-color: coral;
  height: 3px;
  width: 0;
  bottom: 0;
  right: 0;
  transition: all 300ms ease-in-out;
}

.navList a:hover::before {
  width: 100%;
  left: 0;
}

#hero {
  scroll-margin-top: 30px;
  height: 60vh;
  background-color: #1f2937;
}

#hero .container {
  height: 100%;
  gap: 16px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.leftHero {
  height: 60%;
  color: white;
  line-height: 1.2;
  text-align: center;
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.leftHero h1 {
  font-weight: bold;
  font-size: 3rem;
}

.rightHero {
  flex: 1 1 70vmin;
}

.rightHero img {
  border-radius: 16px;
  height: 100%;
  width: 100%;
}

.spacerWaves,
.spacerWavesBottom {
  position: relative;
  margin: 0 auto;
  aspect-ratio: 9/1;
  width: 104vw;
  height: 101%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.spacerWaves {
  top: -2px;
  background-image: url("./assets/layered-waves-haikei.svg");
}

.spacerWavesBottom {
  bottom: -2px;
  background-image: url("./assets/bottom-layered-waves-haikei.svg");
}

#infoCards {
  scroll-margin-top: 200px;
  background-color: #105e82;
}

#infoCards .container h2 {
  text-align: center;
  margin-bottom: 12px;
}

#infoCards .container .cardHolder {
  padding-bottom: 30px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.info_card {
  padding: 6px;
  text-align: center;
  border: 2px solid coral;
  border-radius: 10px;
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  transition: all 200ms ease-in-out;
  overflow: hidden;
}

.info_card img {
  pointer-events: auto;
  height: 100%;
  flex: 5 1 auto;
  border-radius: 4px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 200ms ease-in-out;
}

.info_card img:hover {
  transform: scale(1.07);
  border-radius: 10px;
}

.info_card p {
  font-size: 13px;
  flex: 1 0;
}

#testimonial {
  height: 300px;
  width: 100vw;
  padding: 60px;
  display: grid;
  place-items: center;
  background-image: url("./assets/Jellies.jpg");
  background-size: cover;
}

.testimonialHolder {
  display: grid;
  place-items: center;
  padding: 32px;
  border-radius: 16px;
  backdrop-filter: blur(10px) grayscale(1);
}

.testimonialHolder p {
  color: white;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}

#callToAction {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#callToAction .container {
  height: 100px;
  width: 70%;
  border-radius: 16px;
  box-shadow: 4px 6px 8px rgba(255, 255, 255, 0.5);
  background-color: coral;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.callToText {
  line-height: 1.3;
}

.callToText h3 span {
  color: navy;
  font-weight: bold;
}

button {
  font-weight: 600;
  color: #242424;
  background-color: aqua;
  border: 2px solid aqua;
  border-radius: 8px;
  padding: 10px 16px;
  box-shadow: 1px 1px 2px black;
  transition: all 30ms ease-in-out;
}

button:active {
  border: 2px inset grey;
  box-shadow: -1px -1px 2px black;
}

button:hover {
  cursor: pointer;
}

footer {
  color: white;
  height: 8vmin;
  width: 100%;
  background-color: #1f2937;
  display: grid;
  place-items: center;
  position: relative;
}

.footerEnd {
  position: absolute;
  height: 3px;
  width: 100%;
  bottom: 0;
  background-image: linear-gradient(90deg, coral, #105e82);
}
