/* #1f2937 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #105e82;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1140px;
  margin: 0 AUTO;
}

nav {
  background-color: #1f2937;
}

nav .container {
  margin: 0 auto;
  padding: 16px;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLeft h3 {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.navList {
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: center;
}

.navList a {
  position: relative;
  color: white;
  padding: 4px;
}

.navList a::before {
  content: "";
  position: absolute;
  background-color: coral;
  height: 3px;
  width: 0;
  bottom: 0;
  right: 0;
  transition: all 300ms ease-in-out;
}

.navList a:hover::before {
  width: 100%;
  left: 0;
}

#hero {
  height: 60vh;
  background-color: #1f2937;
}

#hero .container {
  height: 100%;
  gap: 16px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.leftHero {
  height: 60%;
  color: white;
  line-height: 1.2;
  text-align: center;
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.leftHero h1 {
  font-weight: bold;
  font-size: 3rem;
}

.leftHero button {
  padding: 12px 16px;
  color: white;
  font-weight: bold;
  background-color: #451b0e;
  border: #451b0e 2px solid;
  border-radius: 16px;
}

.rightHero {
  flex: 1 1 70vmin;
}

.rightHero img {
  border-radius: 16px;
  height: 100%;
  width: 100%;
}

.spacerWaves,
.spacerWavesBottom {
  position: relative;
  margin: 0 auto;
  aspect-ratio: 9/1;
  width: 104vw;
  height: 101%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.spacerWaves {
  top: -2px;
  background-image: url("./assets/layered-waves-haikei.svg");
}

.spacerWavesBottom {
  bottom: -2px;
  background-image: url("./assets/bottom-layered-waves-haikei.svg");
}

#infoCards {
  background-color: #105e82;
  margin-top: -1px;
}

#infoCards .container .cardHolder {
  padding-bottom: 30px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.info_card {
  padding: 6px;
  text-align: center;
  border: 2px solid coral;
  border-radius: 10px;
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.info_card img {
  height: 100%;
  flex: 5 1 auto;
  border: 1px solid yellow;
  border-radius: 4px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.info_card p {
  flex: 1 0;
}

#testimonial {
  height: 300px;
  width: 100vw;
  padding: 60px;
  display: grid;
  place-items: center;
  background-image: url("./assets/Jellies.jpg");
  background-size: cover;
}

.testimonialHolder {
  display: grid;
  place-items: center;
  padding: 32px;
  border-radius: 16px;
  backdrop-filter: blur(10px);
}

.testimonialHolder p {
  color: white;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}
